{%extends "blog/base.html"%}
{%block title %}
Dashboard 
{% endblock title %}

{%block content%}
        <h1>hey</h1>
        {% include "blog/navbar.html" %} 
        {% for emotion in emotions %}

            {{emotions.angry}}
        {% endfor %}
        <canvas id="myChart" width="100" chart.canvas.parentNode.style.height = '100px'></canvas>

{%endblock content%}

{% block scripts%}
    <script>
        $(document).ready(function(){
            console.log("hey");
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart =new Chart(ctx,{
                type:'pie',
                data:{
                    labels:["angry","disgust","fear","happy","neutral","sad","surprise"],
                    datasets:[{
                        label:"#",
                        data:[{{emotions.angry}},{{emotions.disgust}},{{emotions.fear}},{{emotions.happy}},{{emotions.neutral}},{{emotions.sad}},{{emotions.surprise}}],
                    backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
});
    
    </script>
{%endblock scripts%}
