{% load static %}

<footer class="footer-distributed">
 
    <div class="footer-left">
        <img src="{% static 'blog/images/moodlogo.png' %}">
        <h3>Mood and Stress Analyzer</h3>

        <p class="footer-company-name">© 2019 Mood and Stress Analyzer Pvt. Ltd. All Rights Reserved.</p>
    </div>

    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
                <p><span>Hashu Adwani Memorial Complex, Collector's Colony</span>
                Chembur, Mumbai, Maharashtra 400074</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>Ekta Kithani |+91 7719883508</p><br>
            <i class="fa fa-phone"></i>
            <p>Aadarsh Ahuja |+91 1234567899</p><br>
            <i class="fa fa-phone"></i>
            <p>Sahil Motwani |+91 1234567899</p><br>
            <i class="fa fa-phone"></i>
            <p>Manav Motwani |+91 1234567899</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@eduonix.com">moodandstressanalyzer@gmail.com</a></p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>About the company</span>
            Mood and Stress Analyzer started as a private project. Due to increasing demand and the belief that regular employee feedback is a key factor in a company's success, Mood and Stress Analyzer  is helping organizations around the world to measure and sustain employee satisfaction.

</p>
        <div class="footer-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</footer>