{%extends "blog/base.html"%}
{%load crispy_forms_tags%}
{%block content%}
{% include "blog/navonlywithlogo.html" %}  

<div class="content-section">
    <div class= "panel panel-default">
        <p style="font-family:Times New Roman, Times, serif; color : black; font-size :3vw;"> Your account is created, Answer these Questions !</p> 
    </div>
    <!-- <h1>{{user.username}}</h1>
    <h1>{{user.id}}</h1> -->
    <form method="POST">{% csrf_token %}
        <div class="container">
            <label><b>
                Suppose You are exhausted because your week was endless and less than great. How are you going to spend your weekend?
                </b>
            </label>
        <div class="radio">
            <label><input type="radio" name="question1" class="required" value="Introvert">I'll call my friends to ask about their plans. I heard that a new restaurant opened/ a nice comedy is playing in the cinemas / there are big discounts at the paintball club.</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="question1" value="Extrovert">I'll switch on the "Don't distrub" mode on my phone and stay at home. I'll watch a new episode of my favorite TV show, do a puzzle, and take a long bath with a book.</label>
        </div>
    </div>
<br>
<br>
    <div class="container">
        <label><b>
            Which of these two descriptions suits you more?   
        </b>
    </label>
    <div class="radio">
        <label><input type="radio" name="question2" required value="Sensing"> The most important thing for me is what’s happening here and now. I assess real situations and pay attention to details.   </label>
    </div>
    <div class="radio">
        <label><input type="radio" name="question2" value="Intutive">Facts are boring. Ilove to dream and play over upcoming events in my mind. I rely more on intution than information. </label>
    </div>
</div>

<br>
<br>
    <div class="container">
        <label><b>
            A competitor of your current employer is trying to entice you. You have doubts because the salary is much higher there, but the staff here is great. Moreover, the head of your department hinted that he would recommend you to the bosses when he retires. How are you going to make a decision?  
        </b>
    </label>
    <div class="radio">
        <label><input type="radio" name="question3" required value="Thinking"> I'll learn all the available information about the competitor, ask my HR manager for advice, and draw a chart with all the pros and cons. In such cases, it's important to weigh up all the arguments and access the situation with a sharp mind. </label>
    </div>
    <div class="radio">
        <label><input type="radio" name="question3" value="Feeling">I'll listen to my feelings. I always try to follow my heart.</label>
    </div>
</div>


<br>
<br>
    <div class="container">
        <label><b>
            Only two weeks are left before your close friends’ wedding. How are the preparations going? 
        </b>
    </label>
    <div class="radio">
        <label><input type="radio" name="question4" required value="Judging"> One month ago, I chose the saxophonist who will play a medley of our school songs / collected the couple's photo love story / composed a poem / pressed my suit / made appointments with the stylist and makeup master. </label>
    </div>
    <div class="radio">
        <label><input type="radio" name="question4" value="Perceiving">Why prepare ? I'll be having fun and enjoying myself at the party. I'll improvise my wedding speech. The best things happen spontaneously.</label>
    </div>
</div>


<div class="form-group">
    <button class="btn btn-outline-info" type="submit" value="Questions">Submit</button>
</div>
    </form>

</div>
{%endblock content%}
